@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

.top {
    max-width: 100%;
    height: 735px;
    background-image: url(mobback.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__title {
    font-size: 32px;
    font-weight: 700;
    }
    &__subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    }
    &__button {
        border-radius: 30px;
        width: 234.063px;
        height: 48.603px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
}
.game__box {
    height: 1221px;
    background: #000915;
    

}
.game__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 128px;
}
.game__item {
    max-width: 343px;
}
}
@media (max-width: 374px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .game__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 128px;
        
    }
    .game__item {
        max-width: 343px;
    }

}