* {
  margin: 0;
  padding: 0;
}

center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  background-image: url(img/headerbcg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1024px;
  padding-left: 120px;
}

.top__title {
  padding-top: 217px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top__subtitle {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-top: 32px;
}

.top__button {
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 48px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 44px;
  transition: 1s;
}
.top__button:hover {
  cursor: url(img/clarity_cursor-hand-line.png), pointer;
  background: #EB443F;
}

.game__box {
  background: #000915;
  height: 556px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 120px;
}

.game__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.game__item {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  flex-direction: column-reverse;
  display: flex;
  box-sizing: border-box;
  transition: 1s;
}
.game__item:hover {
  cursor: url(img/clarity_cursor-hand-line.png), pointer;
  border-radius: 16px;
  border: 3px solid #44D2FF;
}

.item1 {
  background-image: url(img/game-1.png);
  border-radius: 16px;
  background-repeat: no-repeat;
  width: 379px;
  height: 300px;
}

.item2 {
  background-image: url(img/game-2.png);
  border-radius: 16px;
  background-repeat: no-repeat;
  width: 379px;
  height: 300px;
}

.item3 {
  background-image: url(img/game-3.png);
  border-radius: 16px;
  background-repeat: no-repeat;
  width: 379px;
  height: 300px;
}

.game__one {
  height: 800px;
  background: #000915;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 282px;
  padding-left: 120px;
}
.game__one_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.game__title {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 48px;
}

.game__subtitle {
  color: #FFF;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  font-size: 18px;
}

.game__button {
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 48px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 44px;
  transition: 1s;
}
.game__button:hover {
  cursor: url(img/clarity_cursor-hand-line.png), pointer;
  background: #EB443F;
}

.game__img {
  width: 485px;
  height: 333px;
  position: relative;
  padding-left: 135px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    max-width: 100%;
    height: 735px;
    background-image: url(mobback.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top__title {
    font-size: 32px;
    font-weight: 700;
  }
  .top__subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .top__button {
    border-radius: 30px;
    width: 234.063px;
    height: 48.603px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .game__box {
    height: 1221px;
    background: #000915;
  }
  .game__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 128px;
  }
  .game__item {
    max-width: 343px;
  }
  .game__one {
    background: #000915;
    height: 653.61px;
  }
  .game__one_block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .game__img {
    max-width: 343px;
    position: relative;
    padding: 0px;
  }
  .game__title {
    text-align: center;
    font-size: 32px;
  }
  .game__subtitle {
    text-align: center;
    font-size: 14px;
  }
}
@media (max-width: 374px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .game__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 128px;
  }
  .game__item {
    max-width: 343px;
  }
}/*# sourceMappingURL=style.css.map */